<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div>
        <form action = "/result" method= "post"></br>
            Your Name: <input type="text" name="name"/>
            Dojo Location: <select name = "loc">
                    <option>San Jose</option>
                    <option>Seattle</option>
                    <option>Mumbai</option>
            </select></br>
            Favorite Language:<select name = "fav">
                    <option>Python</option>
                    <option>C#</option>
                    <option>JavaScript</option>
            </select></br>
            Comment: <textarea name = "comment" rows="4" cols="8"></textarea></br>
                <input type="submit">Submit</input> </br>
        </form>
       </div> 
</body>
</html>